Source: dphys-config
Section: admin
Priority: optional
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2
Homepage: http://neil.franklin.ch/Projects/dphys-config/
Vcs-Browser: http://git.phys.ethz.ch/?p=dphys-config-debian.git
Vcs-Git: http://git.phys.ethz.ch/git/dphys-config-debian.git

Package: dphys-config
Architecture: all
Depends: wget
Suggests: pciutils
Description: Tool to distribute config files
 This project is aimed at automatically installing (and keeping
 update) site specific config files on many hosts, after preprocessing
 them (conditional content and include files and include sections). It
 also triggers postinstall scripts whenever their associated config
 file has been changed. It can also remove config files, including
 running an preremove script before doing so. All this is driven by an
 simple config file list.
