# /etc/dphys-config - user settings for dphys-config auto configurator
# author Neil Franklin, last modification 2005.05.13
# copyright ETH Zuerich Physics Departement
#   use under either modified/non-advertising BSD or GPL license

# this file is sourced with . so full normal  sh  syntax applies


# base directory for config files on server
#   set to something that will produce an error message without site config
#CONF_BASEURL=http://not-configured-server/not/configured/directory
