Source: dphys-config
Section: admin
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Elmar S. Heeb <elmar@heebs.ch>
Build-Depends: debhelper (>= 9),
               dh-exec (>= 0.6)
Standards-Version: 3.9.7
Homepage: http://neil.franklin.ch/Projects/dphys-config/
Vcs-Browser: https://github.com/isgphys/dphys-config
Vcs-Git: https://github.com/isgphys/dphys-config.git

Package: dphys-config
Architecture: all
Depends: dash,
         wget,
         ${misc:Depends}
Suggests: colordiff,
          dwdiff,
          pciutils,
          wdiff
Enhances: hobbit-client,
          xymon-client
Description: Tool to distribute config files
 This project is aimed at automatically installing (and keeping
 update) site specific config files on many hosts, after preprocessing
 them (conditional content and include files and include sections). It
 also triggers postinstall scripts whenever their associated config
 file has been changed. It can also remove config files, including
 running an preremove script before doing so. All this is driven by an
 simple config file list.
 .
 dphys-config is capable of reporting update failure or success to a
 Xymon (formerly Hobbit) monitoring server.
 .
 dphys-config features an interactive mode and a non-interactive diff
 mode to check what would be updated.
